<%= stylesheet_link_tag 'morris', media: 'all' %>
<%= javascript_include_tag 'jquery-3.3.1.min.js':'reload' %>
    <table>
    	<tr>
    	Temperature:	
    	</tr>
    	<tr>
    		 <div id="myfirstchart" style="height: 250px;">
    	<script type="text/javascript">
    		test();
    	</script>
</div>
    	</tr>
    </table>
    
   
<script type="text/javascript">

function test(){
  
$.ajax({
  url: "/view/new",
  success: function(data){
    $("#myfirstchart").html(data); }
});
}
setInterval( test, 5000 );

</script>